.side-nav-logo {
    .logo-wrapper img {
        height: 100%;
        width: auto;
        padding-top: 9%;
        padding-bottom: 9%;
        padding-left: 23px;
    }
}
.white-skin .side-nav .collapsible li .collapsible-header.active {
    color: white;
    background-color: #069;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

