
// Text Color
.text-grey {
    color: #4b515d !important;
}
// Background Color
.bg-blue {
    background-color: #069 !important;
}
.bg-green {
    background-color: #3c9 !important;
}
.gka-gradient {
    background: linear-gradient(40deg, #3c9, #069) !important;
}